.navigation-clean-button {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #222;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button .navbar-toggler {
  color: #888;
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7;
}

.logo-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 23px;
  color: #212529;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0px;
}

#btn-nav-link {
  color: #ffffff;
  padding: 0px;
}

@media (max-width: 1200px) {
  #btn-nav-link {
    color: #ffffff;
    padding: 0px;
  }
}

.nav-font-auth {
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.btn-nav.nav-mobile {
  background: rgb(232, 69, 69);
  border-radius: 20px;
  border-width: 0px;
  border-style: none;
  padding: 4px 22px;
  margin-left: 14px;
  text-align: center;
}

@media (max-width: 1200px) {
  .btn-nav.nav-mobile {
    background: rgb(232, 69, 69);
    border-radius: 20px;
    border-width: 0px;
    border-style: none;
    padding: 4px 22px;
    margin-left: 14px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .nav-mobile-link {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .hero-header {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 69px;
    margin-bottom: -15px;
  }
}

@media (max-width: 500px) {
  .sub-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .sub-title.notebook {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .hero-header.notebook {
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: -15px;
  }
}

@media (max-width: 992px) {
  .kolom {
    justify-content: center;
    flex-direction: column!important;
    background: rgba(0,0,0,0);
  }
}

@media (min-width: 992px) {
  .kolom {
    margin-right: -80px;
  }
}

.ukuran {
  width: 208px;
  height: 208px;
}

.custom-page {
  color: var(--bs-dark);
}

@media (max-width: 992px) {
  .logo-text.mobile {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .hero-header.notebook.mobile {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .hero-header.notebook.mobile {
    font-size: 48px;
    text-align: left;
  }
}

@media (max-width: 992px) {
  p .mobile {
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
  }
}

@media (max-width: 992px) {
  .owl-carousel.owl-theme.mobile {
    display: block!important;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .mobile-car-no {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 992px) {
  .pegi-mob {
    display: block;
  }
}

@media (max-width: 992px) {
  .rotat-i-top {
    transform: rotate(90deg);
  }
}

@media (max-width: 992px) {
  .rotat-i-botom {
    transform: rotate(90deg);
  }
}

@media (max-width: 600px) {
  .mobile {
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .mob {
    margin-left: 14px!important;
  }
}

li .hoverme::hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li .hoverme ::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.radius {
  border-radius: 20px;
}

.join {
  color: #595555;
  border-style: none;
  background: rgba(232,69,69,0);
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 8px;
  border-radius: 20px;
}

