.btn.btn-secondary.text-center.border.rounded-circle.d-xl-flex.justify-content-center.align-items-xl-center.join {
}

.join:hover {
  background-color: #E84545!important;
}

.link-hover:hover {
  color: #E84545!important;
}

.shadow-car:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.daftar:hover {
  background-color: #F18E8E;
  color: #A3A3A3;
}

