@import "global";
@import "fonts";
@import "navbar";

// Layout
@import "layout/footer";
@import "layout/hero";

.navbar {
  margin: 0 34px;
  .collapse {
    margin-top: 0px;
    margin-right: 0px;
    .navbar-nav {
      font-size: 16px;
      .dropdown-menu {
        border-style: none;
      }
      .nav-link {
        padding: 0;
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }
}
